# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single
ij_typescript_use_double_quotes = false

[*.md]
max_line_length = off
trim_trailing_whitespace = false
Logo
Support PIN

Refer a friend and Earn $










Back
Setup
General
Billing
Settings
Home
...
Domains
franzketechnologies.com (.com)
Setup
Setup

Product awaiting setup
This product is pending setup. We just need you to confirm a few details…
Setup
Your product is almost ready.
Fill in the required details and click Confirm to finish the setup.


Domain (SLD)
*
franzketechnologies

Registrant Name
Timothy Franzke

Registrant Organisation
Franzke Technologies

Registrant Email
*
timothyfranzke@gmail.com

Registrant Phone
*
9135229401

Registrant Address 1
*
11503 West 165th Terrace

Registrant City
*
Overland Park

Registrant State
Kansas

Registrant Postcode
*
66221

Registrant Country
*
United States

Confirm Setup

Failed to complete setup
This is not a valid international phone number
